/* createpost.css */

/* Style for the article container */
.createpost {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(3, 177, 110, 0.1);
  }
  
  /* Style for the textarea */
  .createpost textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
	font-size: 16px;
  }
  
  /* Style for the uploaded image container */
  .uploaded-image {
	position: relative;
	margin-bottom: 15px;
  }
  
  .uploaded-image img {
	width: 100%;
	height: auto;
	border-radius: 5px;
  }
  
  .close-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
  }
  
  /* Style for the file input and button container */
  .btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .btns label,
  .btns button {
	background-color: #00bb4e73;
	border: none;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .btns label:hover,
  .btns button:hover {
	background-color: #00bb4e73;
  }
  
  .btns label img,
  .btns button img {
	width: 24px;
	height: 24px;
  }
  
  /* Hide the input file element */
  input[type="file"] {
	display: none;
  }
  


  /* Media queries for mobile responsiveness */
@media (max-width: 768px) {
	.createpost {
	  padding: 10px;
	}
  
	.createpost textarea {
	  font-size: 14px;
	}
  
	.btns label,
	.btns button {
	  padding: 8px;
	}
  
	.btns label img,
	.btns button img {
	  width: 20px;
	  height: 20px;
	}
  }