.singlepost {
	display: flex;
	justify-content: center; /* Center horizontally */
	margin-top: 140px; /* Increase or decrease this value to adjust the distance */
	font-family: Arial, sans-serif;
  }
  
  .singlepost__left {
	width: 60%;
	margin-right: 20px;
	box-shadow: 0 0 10px rgba(3, 201, 118, 0.26);
	border-radius: 8px;
	padding: 20px;
  }
  
  .singlepost__comments {
	margin-top: 20px;
  }
  
  .post {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
  }
  
  .post__header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .post__avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .post__username {
	font-weight: bold;
	/* Move the username to the left */
	flex-grow: 1; /* To push the username to the left */
  }
  