/* profilecard.css */

/* Basic styles */
.profilecard {
	width: 300px;
	background-color: #ffffff0c;
	border: 1px solid #0aa87448;
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	padding: 20px;
  }
  
  /* Header styles */
  .profilecard header {
	text-align: center;
  }
  
  .profilecard header .profilecard__dp {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 10px;
	border: 2px solid #ccc;
  }
  
  .profilecard header h1 {
	font-size: 1.2em;
	margin-bottom: 5px;
  }
  
  .profilecard header h2 {
	font-size: 1em;
	color: #666;
	margin-bottom: 15px;
  }
  
  /* Article styles */
  .profilecard article {
	margin-top: 15px;
  }
  
  .profilecard .profilecard__info {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .profilecard .profilecard__info img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
  }
  
  .profilecard .btn-group {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
  }
  
  .profilecard .btn-group button {
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	font-size: 0.9em;
	cursor: pointer;
  }
  
  
  
  /* Icon hover effect */
  .dp-upload img {
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: transform 0.3s ease;
  }
  
  .dp-upload img:hover {
	transform: scale(1.1);
  }
  